* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}

input {
  border: none;
  outline: none;
}

.bt {
  border-top: 1px solid #E0E0E0;
}

.bb {
  border-bottom: 1px solid #E0E0E0;
}

.bl {
  border-left: 1px solid #E0E0E0;
}

.br {
  border-right: 1px solid #E0E0E0;
}
